<%= provide(:title, 'About') %>
<%= render 'layouts/header' %>
<div class="body">
	<!-- <h1>All About Me!</h1> -->
	<div class="picture">
	</div>
	<div class="about_me">
		<div class="about_title">
			<h2>About Me</h2>
			<div class="top_border"></div>
		</div>
		<div class="about_info">
			<p>WHO // KEITH ASAZAWA</p>
			<p>WHAT // FRONT AND BACK END WEB DEVELOPER</p>
			<p>WHERE // BAY AREA, CA</p>
			<p>WHEN // 2012 - PRESENT</p>
			<p>WHY // I LOVE {CODE}</p>
		</div>
		<div class="bottom_border"></div>
		<div class="skills">
			<h2>Skills</h2>
			<p>HTML, CSS, Javascript, PHP, Ruby on Rails</p>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>