<%= provide(:title, 'Contact') %>
<%= render 'layouts/header' %>
<div class="body">
	<h2 id="contact_me">Contact me, I'd love to hear from you.</h2>
	<div class="contact_info">	
		<form>
			<div>
				<label class="form-name">Your name</label>
				<input id="name" type="text" name="name" placeholder=" Name"/>		
				<label class="form-name">Email Address</label>
				<input id="email" type="text" name="email" placeholder=" Email address"/>
				<label class="form-name">Message</label>
				<textarea id="feedback" name="feedback" placeholder=" Message"></textarea>
				<input type="button" value="Submit" id="button" />
			</div>
		</form>
	</div>
</div>
<%= render 'layouts/footer' %>