<%= provide(:title, 'Contact') %>
<%= render 'layouts/header' %>
<div class="body">
	<h2>Contact me, I'd love to hear from you.</h2>
	<div class="contact_info">	
		<form>
      <input type="text" id="inputEmail" placeholder="Name"><br />
			<input type="text" id="inputEmail" placeholder="Email">	<br />
			<input type="textarea" id="comment" placeholder="Comment">	<br />
			<input type="submit" name="Submit">
		</form>
	</div>
</div>
<%= render 'layouts/footer' %>