<%= provide(:title, 'Home') %>

<%= render 'layouts/header' %>
<div class="body">
	<div class="body_heading">
		<h1>HELLO.</h1>
		<h2>Wherever you are.</h2>
		<h3>are you dancing on the dance floor</h3>
		<h4>or drinking by the bar?</h4>
	</div>
</div>

<%= render 'layouts/footer' %>