<%= provide(:title, 'Home') %>

<%= render 'layouts/header' %>

<div class="body">
	<div class="body_heading">
		<h1>HELLO.</h1>
	</div>
	<!-- <div class="body_name">
		<h5>My name is</h5>
		<h1>Keith</h1>
	</div> -->
	<div class="body_image">
	</div>
	<div class="body_info">
		<h5>I'm a web developer</h5>
		<h3>born and raised in</h3>
		<h2>Oakland, California</h2>
	</div>
</div>

<%= render 'layouts/footer' %>