/*@import "bootstrap";*/

h1 {
	color: white;
	font-family: 'Over the Rainbow', cursive;
	font-size: 4.4em;
	margin: 0px 15px 0px 40px;
}

h2 {
	color: white;
	text-align: center;
	font-family: 'Over the Rainbow', cursive;
	font-size: 2em;
	margin: 5px 55px 0px 70px;
}

h3 {
	color: white;
	text-align: center;
	font-family: 'Over the Rainbow', cursive;
	font-size: 1.4em;
	margin: 0px 0px 0px 0px;
}

h4 {
	color: white;
	/*text-align: center;*/
	font-family: 'Over the Rainbow', cursive;
	font-size: 2em;
	margin: 0px 0px 0px 0px;
}

h5 {
	color: #0099FF;
	font-family: Exo;
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}

h6 {
	color: white;
	/*text-align: center;*/
	font-family: 'Over the Rainbow', cursive;
	font-size: 2em;
	margin: 0px 0px 0px 0px;
}

p {
	color: #eaeaea;
	margin: 0px 25px;
	padding-top: 30px;
	font-family: Exo;
}

/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */

#logo {
	font-size: 2.3em;
	text-align: center;
	text-decoration: none;
	margin: 0px auto;
	font-family: Exo;
	color: #0099FF;
	a {
		margin-top: 10px;
	}
}

.container {
	background-color: #303030;
	min-height: 75px;
	margin: -10px -5px;
	padding: 1px;
	li {
		list-style-type: none;
		display: inline-block;
		margin-top: 10px;
	}
}

.left_nav {
	float: left;
	width: 190px;
	margin: 30px 0px 30px 160px;
	a {
		color: white;
		font-family: Exo;
		margin-left: 30px;
		text-decoration: none;
	}
}

.right_nav {
	float: right;
	/*margin-right: 20px;*/
	width: 190px;
	margin: 30px 160px 30px 0px;
	a {
		color: white;
		font-family: Exo;
		margin-right: 30px;
		text-decoration: none;
	}
}

.center {
	width: 237px;
	margin: 26px auto;
}

/* BODY */ /* BODY */ /* BODY */ /* BODY */ /* BODY */

.body {
	background-image:url('background.jpg');
	min-height: 700px;
	margin-top: 11px;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 11px;
}

.body_heading {
	margin-left: 45px;
	/*margin-top: 30px;*/
}

.body_image {
	height: 300px;
	width: 300px;
	border: 3px solid gray;
	margin: 0px auto;
	margin-top: -45px;
	border-radius: 300px;
}

.body_info {
	border: 1px solid gray;
	min-height: 200px;
	margin-top: 94px;
	background-color: #303030;
}

.body_name {
	/*border: 1px solid gray;*/
	width: 300px;
	height: 220px;
	float: right;
	margin-top: 100px;
	margin-right: 62px;
}

.picture {
	background-image:url('brucelee.jpg');
	min-height: 600px;
	min-width: 350px;
	border: 1px solid gray;
	margin-left: 30px;
	margin-right: 0px;
	border-radius: 15px;
	float: left;
	padding-top: 20px;
	margin-top: 30px;
}

.about_me {
	margin-left: 465px;
	min-height: 300px;
	max-width: 900px;
	padding-top: 20px;
}

.about_title {
	border-radius: 2px;
	margin-left: -40px;
	padding-bottom: 10px;
	/*position: absolute;*/
}

.about_info {
	padding-bottom: 35px;
}

.top_border {
	border-top: 5px solid gray;
	margin-left: -50px;
}

.bottom_border {
	border-top: 5px solid gray;
	margin-left: -86px;
}

.skills {
	/*border: 1px solid red;*/
	margin-right: 30px;
	margin-left: -5px;
	margin-top: 30px;
	max-width: 700px;
	min-height: 224px;
}

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */

.footer {
	margin: -10px -5px;
  padding-top: 5px;
  color: #999;
  background-color: #303030;
  min-height: 70px;
}

.footer a {
	margin-right: 10px;
	text-decoration: none;
  color: white;
  font-family: Exo;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
  margin-top: 22px;
  margin-left: 9px;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 10px;
  margin-top: 6px;
}

/* INPUT FIELDS */ /* INPUT FIELDS */ /* INPUT FIELDS */ /* INPUT FIELDS */

form {
	/*background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));*/
	/*background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);*/
	margin: 11px auto;
	position:relative;
	width:550px;
	height:417px;
	font-family: Exo, Geneva, sans-serif;
	font-size: 15px;
	font-style: italic;
	text-align: center;
	/*line-height: 24px;*/
	font-weight: bold;
	color: #0099FF;
	/*text-decoration: none;*/
	/*-webkit-border-radius: 10px;*/
	/*-moz-border-radius: 10px;*/
	border-radius: 10px;
	padding:10px;
	/*border: 1px solid #0099FF;*/
	/*border: inset 1px solid #333;*/
	/*-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);*/
	/*-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);*/
	/*box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);*/
}

input    {
	width:375px;
	display:block;
	margin: 10px auto;
	border: 1px solid #999;
	height: 25px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea#feedback {
	width:375px;
	height:150px;
	display: block;
	margin: 10px auto;
	border-radius: 7px;
}

input#button {
	width:100px;
	position: absolute;
	right:230px;
	bottom:30px;
	color:#0099FF;
	font-family: Exo , Geneva, sans-serif;
	height:30px;
	font-size: 15px;
	font-weight: bold;
	/*-webkit-border-radius: 15px;*/
	/*-moz-border-radius: 15px;*/
	border-radius: 15px;
	border: 1px solid #999;
	background-color: black;
}

input.button:hover {
	background:#fff;
	color:#09C;
}

.form-name {
	margin: 0px auto;
}

#contact_me {
	padding-top: 25px;
}