/*@import "bootstrap";*/

h1 {
	color: white;
	font-family: 'Over the Rainbow', cursive;
	font-size: 4.4em;
	margin: 0px 0px 0px 10px;
}

h2 {
	color: white;
	font-family: 'Over the Rainbow', cursive;
	font-size: 2em;
	margin: 0px 0px 0px 70px;
}

h3 {
	color: white;
	font-family: 'Over the Rainbow', cursive;
	font-size: 1.4em;
	margin: 0px 0px 0px 0px;
}

h4 {
	color: white;
	font-family: 'Over the Rainbow', cursive;
	font-size: 1em;
	margin: 0px 0px 0px 60px;
}

p {
	color: #eaeaea;
	margin: 0px 25px;
	padding-top: 30px;
	font-family: Exo;
}

/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */

#logo {
	font-size: 2.3em;
	text-align: center;
	text-decoration: none;
	margin: 0px auto;
	font-family: Exo;
	color: #0099FF;
	a {
		margin-top: 10px;
	}
}

.container {
	background-color: #303030;
	min-height: 75px;
	margin: -10px -5px;
	padding: 1px;
	li {
		list-style-type: none;
		display: inline-block;
		margin-top: 10px;
	}
}

.left_nav {
	float: left;
	width: 190px;
	margin: 30px 0px 30px 160px;
	a {
		color: white;
		font-family: Exo;
		margin-left: 30px;
		text-decoration: none;
	}
}

.right_nav {
	float: right;
	/*margin-right: 20px;*/
	width: 190px;
	margin: 30px 160px 30px 0px;
	a {
		color: white;
		font-family: Exo;
		margin-right: 30px;
		text-decoration: none;
	}
}

.center {
	width: 237px;
	margin: 26px auto;
}

/* BODY */ /* BODY */ /* BODY */ /* BODY */ /* BODY */

.body {
	background-image:url('background.jpg');
	min-height: 800px;
	margin-top: 11px;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 11px;
}

.body_heading {
	margin-left: 45px;
	/*margin-top: 30px;*/
}

.picture {
	background-image:url('brucelee.jpg');
	min-height: 500px;
	min-width: 350px;
	border: 1px solid gray;
	margin-left: 30px;
	margin-right: 0px;
	border-radius: 15px;
	float: left;
	/*padding-bottom: 20px;*/
}

.about_me {
	/*border: 2px solid gray;*/
	margin-left: 465px;
	min-height: 300px;
	max-width: 900px;
	/*float: right;*/
}

.about_title {
	border-bottom: 1px solid gray;
	border-radius: 2px;
	margin-left: 25px;
}

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */

.footer {
	margin: -10px -5px;
  padding-top: 5px;
  color: #999;
  background-color: #303030;
  min-height: 70px;
}

.footer a {
	margin-right: 10px;
	text-decoration: none;
  color: white;
  font-family: Exo;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
  margin-top: 22px;
  margin-left: 9px;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 10px;
  margin-top: 6px;
}