<footer class="footer">
  <small>
    <a href="http://www.keithasazawa.com"> Keith Asazawa</a>
  </small>
  <nav>
    <ul>
    	<li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Feedback", feedback_path %></li>
    </ul>
  </nav>
</footer>